*{
padding:0;
margin:0;
}
body{
background-color:rgb(220,220,220);
}
.app-container{
width:95%;
margin:2.5%;
//border:2px solid black;
border-radius:5px;
letter-spacing:1px;
background-color:white;

}
.header{
padding:3%;
border-bottom:1px solid black;
height:10;
}
.btn{
padding:5%;
}
.body{
padding:3%;
}
#item_form{
display:none;
}
.logo{
font-family:courier;
color:#F79a3f;
font-size:20px;
}
.total{
float:right;
font-family:courier;
font-size:17px;
margin-right:10%;
font-weight:bold;
color:black;
}
#total_amount{
color:black;
}
hr{
  border-top: 1px solid black;
  margin:0em;
  padding:0;
  width:100%;
}
#add_new_item{
padding:7px;
font-size:;
font-family:;
font-weight:700;
border-radius:3px;
border-style:none;
background-color:#F79a3f;
color:white;
animation: ease-in-out forwards;
transform-origin: top center
}

#add_new_item:focus{
border:2px solid #F79a3f;
}
::placeholder{
font-family:arial;
letter-spacing:1px;
}
input{
padding:7px;
border-radius:5px;
border-style:outset;
outline:none;
}
input:focus{
border:1.5px solid #FFAE42;
}
#add_item{
padding:8px;
font-size:;
font-family:;
font-weight:700;
border-radius:4px;
border-style:none;
background-color:black;
color:white;
}
#add_item:focus{
border:2px solid #F79a3f;
}
#item_name{
width:40%;
}
#qty{
width:20%;
}
#price{
width:20%;
}
.new_item{
background:rgb(210,210,210);
padding:5%;
border-radius:5px;
}
.delete_btn{
float:right;
font-weight:bold;
border-style:none;
font-size:110%;
color:red;
background-color:rgb(210,210,210);
}
.delete_btn:focus{
color:red;
}
.delete_btn:hover{
background-color:#FFAE42;
padding:1.5%;
border-radius:2px;
}
#delete_all{
float:right;
padding:8px;
font-size:;
font-family:;
font-weight:700;
border-radius:4px;
border-style:none;
background-color:red;
color:white;
}
#no_items{
font-family:helvetica;
color:rgb(200,200,200);
margin:5%;
}